
.mnav, .dnav {
    display: flex;
    flex-direction: row;
    top: 0;
    background-color: lightgray;
    list-style: none;
    margin-bottom: auto;



  }
  
  @media only screen and (max-width: 767px) {
    body {
        font-size: small;
    }
    .nav2 {
      display: none;
    }
    
    .nav1 {
      display: flex;
      flex-direction: row;
      top: 0%;
      width: 50%;
      background-color: lightgray;
      

    }
    
    .mobileNavBar .navbar2 {
      display: none;
    }
    
    .navbar ul {
      display: none;
    }
    
    .mobileNavBar li:nth-child(3):hover .navbar2{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      position: absolute;

    }
    
    .mobileNavBar li:hover, .navbar li:hover {
      background-color: darkgray;
    }
    
    .mobileNavBar li, .navbar li{
      display: inline-block;
      width: 100%
    }
    .nav1 {
        display: none;
      }
      
    #mnavtoggle:checked ~ .nav1{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    label {
        display: inline-block;
        font-size: 10px;
        cursor: pointer;
    }
    .hammenu {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .hamcheck{
        display: none;
    }
    .mobileNavBar, .navbar2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

      }
      
      .mobileNavBar li a, .navbar2 li a {
        font-size: 16px;
        padding: 10px;

        
      }
  }
  
  @media only screen and (min-width: 768px){
    .hamcheck{
        display: none;
    }
    label {
        display: none;
        
    }
    .hammenu {
        display: none;
        font-size: 24px;
        cursor: pointer;
    }
    .nav1{
      display: none;
    }
    
    .nav2 {
      display: flex;
      flex-direction: row;
      top: 0;
      background-color: lightgray;
      
    }
    
    .mobileNavBar .navbar2{
      display: none;
    }
    
    .navbar ul {
      display: none;
    }
    
    .navbar li:nth-child(3):hover ul {
      display: flex;
      
    }
    .navbar li {
        display: inline-block;
        position: relative;
        border: 1px solid black;
    }
    
    .navbar li:hover {
      background-color: darkgray;
    }
    
    .navbar li ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 50%;
    }
    
    .navbar li:hover > ul{
        display: flex;
        flex-direction: row;
        width: 50%;
    }
    
    .navbar li ul li{
        display: block;
    }
    
}
