@font-face {
    font-family: Roboto;
    src: url("Roboto.ttf");
}
.p2::first-line{
    text-indent: 2em;
}
.mainLearnPage {
    padding: 10px;
}
.aboutItem, .homeItem {
    padding: 10px;
}
body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*
    background-image: url("Images/fb1.jpg");
    */
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 400%;
}
header {
    padding: 10px;
    
    
}
h1 {
    color: black;
}
a {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid black;
    /*border-top: 1px solid black;*/
    box-sizing: border-box;
    background-image: url("Images/fb2.jpg");
    background-size: cover;
    background-position: center;
    margin-top: auto;
}

main a {
    background-color: rgb(229, 248, 255);
}
main > p > a {
    background-color: rgb(229, 248, 255);
}

/*
.p1::first-letter{
    color: magenta;
}
*/
.p1, .p2{
    margin: 0;
    border-radius: 3px;
    padding: 15px;
}
.resourceItems {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}
.paddingClass {
    padding-top: 20px;
    padding-bottom: 20px;
}
.img.iconp, img.icone {
    float: left;
    margin-right: 10px;
}
.iconp:hover, .icone:hover {
    transform: scale(1.25);
}
code {
    white-space: pre-wrap;
}
input[type="text"], input[type="email"], textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}
textarea{
    height: 150px;
    background-color: rgb(229, 248, 255);
}
.contactForm input {
    background-color: rgb(229, 248, 255);
}
.contactForm {
    padding: 10px;
}
.resumeLink:hover {
    background-color: lightgray;
}
.downloadLink:hover {
    background-color: lightgray;
}
.learnItems {
    padding-left: 10px;
    padding-right: 10px;
}
.learnSubtitles {
    padding-top: 10px;
}
.aboutMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selfImage, .resumeVideo  {
    
    flex: .5;
    
    height: 265px;   
    
}
.selfImage {
    margin-left: 20px;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 400px;
}

.resumeVideo {
    margin-right: 20px;
    
}

.resumeLink {
    margin-left: 75px;
    
}
.rlc {
    margin: 10px;
    
}
*{
    box-sizing: border-box;
}
@media print {
* { 
    
    font-family: serif;
    background: transparent;
    color: black;
    box-shadow: none;
    text-shadow: none;
    }
    .mnav,
    .dnav,
    footer{
        display: none !important;
    }
    h1,
    p,
    blockquote{
        color: black;
        page-break-inside: avoid;
        text-align: center;
        font-size: 16px;
        margin: 1in;
    }
    @page {
        margin: 1in;
    }
    
}